{
    admin unix//runtime/admin.sock {
        origins localhost
    }
}

{$SITE_ADDRESS:localhost} {
    tls internal
    encode zstd gzip
    handle_path /betrieb/tls-agent/* {
        reverse_proxy tls-agent:8070
    }
    handle_path /static/* {
        root * /srv/static
        file_server
    }
    handle {
        reverse_proxy backend:8000
    }
}

